<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    <% include ./partials/header.ejs %>
    <div class="main-container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% products.forEach( product => { %>
            <tr>
                <form id="sendId" method="get" action="/details">
                <th id="title" scope="row"><a href="#"><%= product.title %></a></th>
                <td><img id="imageClick<%=product.id%>" onclick="<%let id=product.id%>" src="<%= product.image %>"></td>
                </form>
                <script>
                    var form = document.getElementById("sendId");

                    document.getElementById("imageClick<%=id%>").addEventListener("click", function () {
                        console.log(<%=id%>)
                        form.submit();
                    });
                </script>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <h1>Our Post Page!</h1>
    </div>
</body>
